*
{
    margin: 0;
    padding: 0
}

header
{
    background-image: url("public/modern-offices3.jpg") fixed center;
    height: 100hv;
    background-size: cover;
    background-position: center;
}

body {
    background-color: lavenderblush;
}