* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; }


    html, body {
        font-size: 15px; 
    }
    
    #navbar {
        font-size: 15px;   
    }
    a.indent {
        word-spacing: 10px;
        
    }
    li a:hover {
        text-decoration: underline;
       
    }

    a.contact{

     word-spacing: 2px;
    }

    
      
      li {
        display: inline;
        padding: 5px;
        color: black;
        
      }

      li a {
        display: inline;
        color: black;
        text-align: center;
        padding: 10px 14px;
        text-decoration: none;
      }

      ul {
        background-color: #ffffff;
        overflow: hidden;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

    .welcome img { 
        width: 125%; 
        height: 80%; 
         
    } 
    .community img {
        width: 40%; 
        height: 70%;
    }

    .team img {
        width: 46%; 
        height: 33%;
    }

    .space img {
        width: 56%; 
        height: 36%;  
    }

    .support-community img {
        width: 46%; 
        height: 70%; 
    }

    .impact img {
        width: 44%; 
        height: 73%;
        
    }
    .team {
        display: inline-block;
        float:left;
    }

    /* .align {
        float: left;
        width: 100%;
        padding: .05px;
        
    } */
    

    